<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset= "utf-8">
        <title>Log in | Lazarillo </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="login-box">
<img class= "avatar" src="../static/img/logo.png" alt="logo">
<h1>Login Here</h1>
<form>
<!-- Nombre-->
    <label for= "Nombre"> Nombre</label>
    <input type="text" placeholder="Ingrese su nombre">
<!-- Contraseña-->
    <label for= "Contraseña"> Contraseña</label>
    <input type="password" placeholder="Ingrese su contraseña">
<!-- Logearse-->
    <input type="submit" value="Log in">
   
<a href="#">Perdí mi contraseña</a> <br>
<a href="registro.html">No tengo cuenta</a>

</form>

        </div>
    </body>
</html>